/* General styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    transition: background 0.3s ease-in-out;
}

/* Content styling */

/* Layouting left and right section */
.content {
    display: flex;
    width: 100%;
    height: 100%;
}

.restaurantSection {
    width: 70%;
    margin-bottom: 1rem;
}

.shoppingBasket {
    width: 30%;
    box-shadow: -8px 0px 3px -7px gray;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    gap: 2rem;
}

.wrapperSticky {
   position: sticky;
   top: 0;
}


/* Layouting and styling shopping basket */

.subtotalContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 0.4rem;
}

.totalPriceContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 0.4rem;
    padding-bottom: 1rem;
}

.basketTitle {
    margin-bottom: 1rem;
}

.fa-bag-shopping {
    margin-top: 4rem;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.5);
}

.pickMenuText {
    padding-bottom: 1rem;
}

.minOrder {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.payBtn {
    width: 14rem;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 0.2rem;
    transition: all 0.3s ease-in-out;
}

.payBtn:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transform: scale(1.04);
}
/* Shopping basket end */

/* Styling for restaurant section */
.imageLogo {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.pizzaImg {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.restaurantLogo {
    width: 10rem;
    position: absolute;
    bottom: -20%;
}

/* Styling for title and two buttons */
.titleBtnContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.restaurantTitle {
    font-size: 1.8rem;
}

.twoBtn button {
    cursor: pointer;
}

.twoBtn .fa-circle-info {
    color: #a29bfe;
    font-size: 1.4rem;
    padding: 0.8rem;
    background: #fff;
    transition: all 0.3s ease-in-out;
}

.twoBtn .fa-circle-info:hover {
    background: rgba(0, 0, 0, 0.03);
}

.twoBtn .fa-heart {
    color: #e67e22;
    font-size: 1.4rem;
    padding: 0.8rem;
    background: #fff;
    transition: all 0.3s ease-in-out;
}

.twoBtn .fa-heart:hover {
    background: rgba(0, 0, 0, 0.03);
}

.ratingContainer {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
}

.stars {
    display: flex;
}

.stars li {
    list-style-type: none;
}

.fa-star {
    color: #e67e22;
}

#lastStar {
    color: rgba(0, 0, 0, 0.2)
    
}

.rating {
    padding-right: 0.4rem;
    padding-left: 0.4rem;
}

.rating a {
    text-decoration: none;
    color: #e67e22;
}

/* Styling for shipping info */
.shippingInfoContainer {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    color: gray;
    margin-top: 1rem;
}

.infos {
    display: flex;
    gap: 1.4rem;
    margin-bottom: 0.4rem;
}

.infos div {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

/* Styling for option bar */
.optionBarContainer {
    background: rgba(0, 0, 0, 0.04);
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

.optionBar {
    padding-right: 1rem;
    padding-left: 1rem;
}

.optionBarList {
    display: flex;
    gap: 2rem;
}

.optionBarList li {
    list-style-type: none;
    position: relative;
}

.optionBarList li a {
    text-decoration: none;
    color: black;
}

.optionBarList li i {
    font-size: 1.3rem;
}

/* Setup hover animation for option bar links */
.optionBarList li a::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0px;
    width: 0%;
    height: 8px;
    border-radius: 4rem;
    background: rgb(180, 179, 179);
    transition: width 0.3s ease-in-out;

}

.optionBarList li a:hover::after {
    width: 100%;
}


/* Styling for most popular dishes section */
.popularDishesContainer {
    margin-top: 1rem;
}

.popDishHeadlineContainer {
    background: rgba(0, 0, 0, 0.04);
    margin-right: 1rem;
    margin-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.popularDishHeadliner {
    padding-left: 1.4rem;
}

/* Styling dish container */
.dishSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
}

.dishBox {
    position: relative;
    border: 1px solid rgb(196, 190, 190);
    padding-left: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.dishBox:hover {
    background: rgb(207, 203, 203);
}

.dishBox h3{
    padding-top: 1rem;
}

.dishDesc {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: gray;
    font-size: 0.9rem;
}

.dishPrice {
    padding-bottom: 1rem;
    color: #e67e22;
    font-weight: bold;
}

.dishBoxPlus {
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 1.2rem;
}

/* Section for showing dishes on shopping basket after user clicks */
.namePrice {
    display: flex;
    justify-content: space-evenly;
}

.basketPlusMinus {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.basketPlus, .basketMinus {
    border: 1px solid gray;
    padding: 0.2rem 0.4rem;
    background-color: gray;
    color: #fff;
    border-radius: 0.2rem;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}


.basketPlus:hover, .basketMinus:hover {
    background-color: rgb(175, 169, 169);
}

/* Styling for button when width is under 900px */
.btnContainer {
    display: none;
    position: fixed;
    bottom: 1%;
    right: 1%;
    left: 1%;
    z-index: 2;
}

.invisibleBtn {
    background-color: #3a5877;
    width: 100vw;
    height: 3rem;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.invisibleBtn:hover {
    background-color: #5c87b3;
}

/* Display none  */
.d-none {
    display: none;
}

/* Webkit to hide scrollbar */
::-webkit-scrollbar {
    display: none;
  }

  /* Media queries */
  @media (min-width: 1650px) {
    .restaurantSection {
        width: 80%;
    }

    .shoppingBasket {
        width: 20%;
    }
  }

  @media (max-width: 900px) {
    .shoppingBasket {
        display: none;
    }

    .restaurantSection {
        width: 100%;
    }
    
    .btnContainer {
        display: flex;
    }
  }

  @media (max-width: 500px) {
    .restaurantLogo {
        bottom: -10%;
    }

    .restaurantTitle {
        font-size: 1.6rem;
    }

    .shippingInfoContainer p {
        font-size: 0.8rem;
    }

    .optionBarContainer {
        display: none;
    }

    .twoBtn .fa-circle-info, .twoBtn .fa-heart {
        font-size: 1rem;
        padding: 0.2rem;
    }
  }

  
  @media (max-width: 320px) {
    .shippingInfoContainer p {
        font-size: 0.7rem;
    }

    .rating a {
        font-size: 0.8rem;
    }
  }